{% extends "./base.html" %}
{% block content %}
<div class="participantreg">
    {% ifequal reg 1%}
        <div role="alert" class="alert">
            <span class="closebtn">&times;</span>
            <strong>OH HEY!</strong>Please Use different email ID.
        </div>
    {% endifequal %}
    <div class="participantform">
        <h2 class="pformHeader">Participant Registration:</h2>
        <p class="pformHeaderSubtext">Your Email ID and Mobile Number will recieve confirmation about your Registerations.</p>
        <div class="pmainform">
        <form name="myform" method="POST" action="{% url 'Event-Manager-Participant'  %}">
            {% csrf_token %}
            <p>
                <label for="id_eventId">Event ID:</label>
                <select min="0" name="eventId" placeholder="Enter Event ID" value="0" id="id_eventId" required>
                    <option selected value="">Select ID</option>
                    {% for event in events %}
                    <option value={{event.id}}>{{event.id}}</option>
                    {% endfor %}
                </select>
            </p>
            
            <p>
                <label for="id_participant_email">Email Address:</label>
                <input type="email" name="participant_email" placeholder="Your Email Address" maxlength="254" required id="id_participant_email" required>
            </p>
            <p>
                <label for="id_participant_name">Name:</label>
                <input type="text" name="participant_name" placeholder="Your Name" maxlength="254" required id="id_participant_name" required>
            </p>
            <p>
                <label for="id_participant_mobileno">Mobile Number:</label>
                <input type="number" name="participant_mobileno" min="0" placeholder="Mobile Number" required id="id_participant_mobileno" required>
            </p>
            <p>
                <label for="id_participant_type_0">Type of Participation:</label>
                <label for="id_participant_type_0">
                    <input type="radio" name="participant_type" value="Single" class="group-single" checked="checked" onClick="ShowGroupTile(0)" required id="id_participant_type_0" required> Single</label>
                <label for="id_participant_type_1">
                    <input type="radio" name="participant_type" value="Group" class="group-single" onClick="ShowGroupTile(1)" required id="id_participant_type_1" required> Group</label>
            </p>
            <p  style="display: none;" id="showit">
                <label for="id_participant_total" id="something">Total Group Member:</label>
                <input type="number" name="participant_total" value="1" min="0" placeholder="Total Number of Members if Group" required id="id_participant_total">
            </p>
            <input type='submit' class="button" value="Participate"/><br>
            <a role="button" class="pformlink" href="/home">Go Back to Homepage</a><br>
        </form>
    </div>
    </div>
    <script>
      function ShowGroupTile(x)
      {
        if(x==0)
        {
            document.getElementById('showit').style.display='none';
            document.getElementById('id_participant_total').value=1;
        }
        else
        {
            document.getElementById('showit').style.display='block';
            document.myform.id_participant_total.value = '0';
        }
        return;
      }
      var close = document.getElementsByClassName("closebtn");
var i;

for (i = 0; i < close.length; i++) {
  close[i].onclick = function(){
    var div = this.parentElement;
    div.style.opacity = "0";
    setTimeout(function(){ div.style.display = "none"; }, 600);
  }
}
    </script>
</div>
{% endblock content %}